<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить запись о гостях</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Добавьте запись о гостях</h1>
        <form action="/templated/stay_records/add" method="post">
            <input type="text" name="name" placeholder="Название записи" required>
            <input type="text" name="room_number"  placeholder="Номер комнаты (опц.)">
            <input type="datetime-local" name="start" required>
            <input type="datetime-local" name="end" required>
            <input type="number" name="num_adults" placeholder="Количество взрослых" required>
            <input type="number" name="num_children" placeholder="Количество детей" required>
            <input type="number" name="num_infants" placeholder="Количество младенцев" required>
            <button type="submit">Добавить запись</button>
        </form>
    </div>
</body>
</html>
