<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запись добавлена</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <h1>Запись успешно добавлена</h1>
    <p><strong>Название записи:</strong> {{ name }}</p>
    <p><strong>Комната:</strong> {{ room_number or '—' }}</p>
    <p><strong>Дата начала:</strong> {{ start }}</p>
    <p><strong>Дата окончания:</strong> {{ end }}</p>
    <p><strong>Количество взрослых:</strong> {{ num_adults }}</p>
    <p><strong>Количество детей:</strong> {{ num_children }}</p>
    <p><strong>Количество младенцев:</strong> {{ num_infants }}</p>

    <a href="/templated">Вернуться на главную</a>
</body>
</html>
