<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ожидающие пользователи</title>
</head>
<body>
    <h1>Пользователи на одобрение</h1>
    <ul>
        {% for user in users %}
            <li>
                <p>{{ user.email }}</p>
                <form action="/templated/admin/users/{{ user.id }}/approve" method="POST">
                    <button type="submit">Одобрить</button>
                </form>
                <form action="/templated/admin/users/{{ user.id }}/reject" method="POST">
                    <button type="submit">Отклонить</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
