<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои активные записи</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>

<body>
    <h1>Активные записи пользователя {{ user.email }}</h1>

    <ul>
        {% for record in stay_records %}
        <li>
            <p><strong>Название:</strong> {{ record.name }}</p>
            <p>Начало: {{ record.start.astimezone(pytz.timezone('Asia/Almaty')).strftime('%Y-%m-%d %H:%M') }}</p>
            <p>Конец:  {{ record.end.astimezone(pytz.timezone('Asia/Almaty')).strftime('%Y-%m-%d %H:%M') }}</p>
            <p>Взрослых: {{ record.num_adults }}, Детей: {{ record.num_children }}, Младенцев: {{ record.num_infants }}
            </p>

            <form action="/templated/stay_records/users/{{ user.id }}/stay_records/{{ record.id }}/edit"
                method="get" style="display:inline">
                <button class="button" type="submit">Изменить</button>
            </form>

            <form action="/templated/stay_records/users/{{ user.id }}/stay_records/{{ record.id }}/delete"
                method="POST">
                <button type="submit">Удалить запись</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>

</html>